.alert{
    margin-left: 50px;
}

.error{
 background-color: red;
 color: #FFF;
 padding: 5px; 
}
.success{
    width: 95%;
    background-color: #62C370;
    padding: 5px;
    color: #fff;
    transition: 1s;
    transform: scale(1.01);
    margin: 0 auto;
}
