.main-section{
    background-color: #62C370;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}
.main-section .main-title{
    margin-bottom: 60px;
}
.main-section.-skills{
    border-bottom: 10px solid #7C5E99;
}
.main-section.-projetos{
    background-color: #000;
    border-bottom: 10px solid #F25A70;
}
.main-section.-sobre{
    background-color: #7C5E99;
}
.main-section.-contatos{
    background-color: #3A4042;
    
}